.hold-info {
  position: fixed;
  left: 10%;
  top: 35%;
  max-width: 520px;
  z-index: 10;
  opacity: 0;
  transform: translateY(12px);
  transition:
    opacity 0.4s ease,
    transform 0.4s ease;
  pointer-events: none;
}

.hold-info.visible {
  opacity: 1;
  transform: translateY(0);
}

.hold-info h3 {
  margin: 0 0 18px 0;
  font-family: 'Michroma', sans-serif;
  color: white;
  font-size: 48px;
  font-weight: 400;
  text-transform: uppercase;
  line-height: 62.4px;
  word-wrap: break-word;
}

.hold-info p {
  margin: 0;
  font-family: 'Geist', sans-serif;
  color: #9CA3AF;
  font-size: 20px;
  font-weight: 300;
  text-transform: uppercase;
  line-height: 32px;
  word-wrap: break-word;
}

.hold-info-right {
  position: fixed;
  right: 10%;
  top: 35%;
  max-width: 520px;
  z-index: 10;
  opacity: 0;
  transform: translateY(12px);
  transition:
    opacity 0.4s ease,
    transform 0.4s ease;
  pointer-events: none;
}

.hold-info-right.visible {
  opacity: 1;
  transform: translateY(0);
}

.hold-info-right h3 {
  margin: 0 0 18px 0;
  font-family: 'Michroma', sans-serif;
  color: white;
  font-size: 48px;
  font-weight: 400;
  text-transform: uppercase;
  line-height: 62.4px;
  word-wrap: break-word;
}

.hold-info-right p {
  margin: 0;
  font-family: 'Geist', sans-serif;
  color: #9CA3AF;
  font-size: 20px;
  font-weight: 300;
  text-transform: uppercase;
  line-height: 32px;
  word-wrap: break-word;
}
