.hotspot {
  position: fixed;
  display: inline-flex;
  justify-content: flex-start;
  align-items: center;
  opacity: 0;
  pointer-events: none;
  z-index: 12;
  transition: opacity 0.3s ease;
}

.hotspot.visible {
  opacity: 1;
}

.hotspot-content {
  width: 370px;
  padding: 18px;
  background: rgba(255, 255, 255, 0.08);
  overflow: hidden;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  gap: 10px;
}

.hotspot-title {
  align-self: stretch;
  display: flex;
  flex-direction: column;
  justify-content: center;
  color: white;
  font-size: 16px;
  font-family: 'Michroma', sans-serif;
  font-weight: 400;
  text-transform: uppercase;
  line-height: 20.8px;
  word-wrap: break-word;
}

.hotspot-description {
  align-self: stretch;
  display: flex;
  flex-direction: column;
  justify-content: center;
  color: #9CA3AF;
  font-size: 14px;
  font-family: 'Geist', sans-serif;
  font-weight: 300;
  text-transform: uppercase;
  line-height: 21px;
  word-wrap: break-word;
}

.hotspot-line {
  flex: 1 1 0;
  height: 0;
  opacity: 0.2;
  border: 1px solid white;
}

.hotspot-dot-wrapper {
  display: inline-flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
  width: 32px;
  height: 32px;
  position: relative;
}

.hotspot-dot-outer {
  width: 32px;
  height: 32px;
  position: absolute;
  left: 0;
  top: 0;
  border-radius: 9999px;
  border: 1px solid rgba(255, 255, 255, 0.2);
}

.hotspot-dot-inner {
  width: 16px;
  height: 16px;
  position: absolute;
  left: 8px;
  top: 8.5px;
  background: rgba(255, 255, 255, 0.4);
  border-radius: 9999px;
}

.hotspot-shell {
  top: 25.1%;
  left: 24%;
}

.hotspot-shell .hotspot-line {
  width: 277px;
  flex: none;
}

.hotspot-outer {
  top: 50%;
  left: 16.46%;
}

.hotspot-outer .hotspot-line {
  width: 68px;
  flex: none;
}

.hotspot-inner {
  top: 44.92%;
  right: 37.14%;
}

.hotspot-inner .hotspot-line {
  width: 79px;
  flex: none;
}
