.video-section {
  position: relative;
  height: 100vh;
  margin: 0;
  padding: 0;
}

video {
  width: 100%;
  height: 100vh;
  object-fit: cover;
  transition: filter 0.6s ease, transform 0.6s ease;
}

video.is-blurred {
  filter: blur(60px);
  transform: scale(2);
}

video.protection-frame {
  transform: scale(0.7) translateX(-20%);
  transition: transform 0.6s ease;
}
